<div class="w-full flex mt-3 flex-col">
  <input
    type="search"
    [formControl]="searchControl"
    placeholder="Wpisz tytuł"
    class="border rounded px-3 py-2 w-xl"
  />

  <select [formControl]="genreControl">
    <option [ngValue]="null">Wszystkie gatunki</option>
    @for (genre of (store.genres$ | async) ?? []; track genre.id) {
      <option [ngValue]="genre.id">{{ genre.name }}</option>
    }
  </select>

  <div class="w-full">
    <!-- @let movies = (movies$ | async) ?? []; -->

    @if (store.loading$ | async) {
      <p>Ładowanie...</p>
    } @else if (store.error$ | async; as err) {
      <p>{{ err }}</p>
    } @else {
      <app-movie-list [movies]="(store.movies$ | async) ?? []" />
    }
  </div>
</div>
